<!DOCTYPE html>
<html ng-app = "calculatorapp">
	<head>
		<script type="text/javascript" src = "angular.js"></script>
		<script type="text/javascript" src = "app.js"></script>
		<title>Calculator App</title>
	</head>
	<body>
	<h1>Calculator App</h1>
	<div ng-controller="calctrl as ctrl">
		<input type="text" ng-model="ctrl.input1">
		<span>{{ctrl.selectedop}}</span>
		<input type="text" ng-model="ctrl.input2">
		<button ng-click ="ctrl.compute()">=</button>
		{{ctrl.result}}
		<p> Choose operation:
			<button ng-click ="ctrl.buttonclicked('+')">+</button>
			<button ng-click ="ctrl.buttonclicked('-')">-</button>
			<button ng-click ="ctrl.buttonclicked('*')">*</button>
			<button ng-click ="ctrl.buttonclicked('/')">/</button>
		</p>
	</div>
	</body>
</html>